-- accept_friend_request RPC
CREATE OR REPLACE FUNCTION accept_friend_request(req_id UUID)
RETURNS BOOLEAN
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $BODY
DECLARE
  v_from_user UUID;
  v_to_user UUID;
  v_user_a UUID;
  v_user_b UUID;
BEGIN
  -- Check if request exists and belongs to the caller
  SELECT from_user_id, to_user_id INTO v_from_user, v_to_user
  FROM friendship_requests
  WHERE id = req_id AND to_user_id = auth.uid() AND status = 'pending';

  IF NOT FOUND THEN
    RETURN FALSE;
  END IF;

  -- Update request to accepted
  UPDATE friendship_requests SET status = 'accepted' WHERE id = req_id;

  -- Insert into friendships (ordered pair)
  IF v_from_user < v_to_user THEN
    v_user_a := v_from_user;
    v_user_b := v_to_user;
  ELSE
    v_user_a := v_to_user;
    v_user_b := v_from_user;
  END IF;

  INSERT INTO friendships (user_a, user_b)
  VALUES (v_user_a, v_user_b)
  ON CONFLICT DO NOTHING;

  RETURN TRUE;
END;
$BODY;
